

<%= link_to "Add New Book To The Shelf", "/books/new" %>


<ul>
  <% @books.each do |book| %>
    <li><%= link_to book.title, "/books/#{book.id}" %> - <%= book.price %> - <%= book.quantity %><br>
    </li><br>

  <% end %>
</ul>
