

<%= link_to "Add New Book To The Shelf", new_book_path %>


<ul>
  <% @books.each do |book| %>
    <li><%= book.title %> - <%= book.price %> - <%= book.quantity %><br>
    </li><br>

  <% end %>
</ul>
